<div class="column is-3-widescreen is-4-desktop py-4">
  <p class="title is-4">
    <span class="icon-text">
      <span class="icon">
        <i class="<%= fa_icon %>"></i>
      </span>
      <span class="ml-2"><%= title %></span>
    </span>
  </p>
  <p class="subtitle"><%= description %></p>
</div>
