<% text ||= 'dark'%>
<div class="is-flex is-flex-direction-row is-align-content-center is-justify-content-center">
  <figure class="image">
    <% if text == 'dark' %>
      <img style="max-width: 8rem;" src="/lotta_workmark_dark.svg">
    <% else %>
      <img style="max-width: 8rem;" src="/lotta_workmark_light.svg">
    <% end %>
  </figure>
</div>
