  <%= turbo_frame_tag(dom_id(project)) do %>
  <div class="notification header">
    <%= link_to  "", workspace_items_path(@workspace), class:"delete", target: "_top" %>
    <div class="is-flex is-justify-content-space-between">
      <p><strong>@<%= project.name %></strong></p>
      <p><small><%= local_time_ago project.created_at %></small></p>
    </div>
  </div>
<% end %>
