<div class="box content">
  <h2 class="title is-3">How to use Lotta</h2>
  <p class="subtitle is-4 mt-4 mb-2">Basics</p>
  <ul class="my-0">
    <li>Add new items by typing and hitting enter or clicking the "Add" button.</li>
    <li>Lotta supports simple bullet points (b), tasks (t) or notes (n). Choose the item's type using the buttons above, or <strong>quickly switch by typing first letter</strong> (e.g. 'n' for notes) and hitting space.</li>
    <li>Notes support Markdown formatting and multiple lines (hit Shift-Enter to add).</li>
    <li>You can add due dates to any type. The Agenda view gives you a clear view of all upcoming </li>
  </ul>
  <p class="subtitle is-4 mt-5 mb-2">Organization</p>
  <ul class="my-0">
    <li>Lotta allows you to add items to a project and provide context with tags. A great way to organize items is to use projects for a predefined set of work with a clear timeline, and tags to provide overall context and general areas. But use them however you like.</li>
    <li>You can create <strong>@projects</strong> and <strong>#hashtags</strong> by simply tying them in the items with the @ or # prefix.</li>
    <li>Lotta also has <strong>Lists (l)</strong> for a more lose or ephemeral organization. Writing meeting notes that might contain multiple projects or item types? A short checklist with a bunch of tasks that is not its own project? Lists are great for that.</li>
  </ul>
  <p class="mt-6 is-size-7">A little project from <a href="https://twitter.com/benedictbartsch" target="_blank" class="has-text-grey is-underlined">@benedictbartsch</a>.</p>
</div>
